{% extends "P4MuseumBundle::layout.html.twig" %}

{% block title %}
  {{ 'Accueil'|trans }} - {{ parent() }}
{% endblock %}

{% block subtitle %}
    <h2>{{ 'index.message'|trans }}</h2>
{% endblock %}

{% block p4museum_body %}

  {{ 'Nos tarifs'|trans }} : <br /><br />

  <table class="table table-bordered table-responsive">
  <thead>
    <tr>
      <th>{{ 'Type de billet'|trans }}</th>
      <th>{{ 'Prix'|trans }}</th>
    </tr>
  </thead>
  <tbody>
  	<tr>
  		<td>{{ 'table.normal'|trans }}</td>
  		<td>16€</td>
  	</tr>
  	<tr>
  		<td>{{ 'table.children'|trans }}</td>
  		<td>8€</td>
  	</tr>
  	<tr>
  		<td>{{ 'table.senior'|trans }}</td>
  		<td>12€</td>
  	</tr>
  	<tr>
  		<td>{{ 'table.reduction'|trans }}<span id="asterisque">*</span></td>
  		<td>10€</td>
  	</tr>
  </tbody>
</table><br /><br />
*{{ 'Etudiant(e), employé(e) du musée, d’un service du Ministère de la Culture, militaire.'|trans }}

{% endblock %}
