{% extends "P4MuseumBundle::layout.html.twig" %}

{% block title %}
  Acheter un billet - {{ parent() }}
{% endblock %}

{% block p4museum_body %}
  
  Nombre de billets : {{ orders.numberoftickets }}<br />

  Vos coordonnées
  {{ orders.customer.firstname }}<br />
  {{ orders.customer.name }}<br />
  {{ orders.customer.mail }}<br />
  {{ orders.customer.adress.streetnumber }}<br />
  {{ orders.customer.adress.streetname }}<br />
  {{ orders.customer.adress.city }}<br />
  {{ orders.customer.adress.zipcode }}<br />
  {{ orders.customer.adress.country | country }}<br /><br />
  <h2>Informations sur les visiteurs</h2>


{% for ticket in listtickets %}
  Billet numéro {{ loop.index }}<br />
  Type de billet : <br />
  {{ ticket.type }}<br />
  Prénom : <br />
  {{ ticket.ticketowner.firstname }}<br />
  Nom : <br />
  {{ ticket.ticketowner.name }}<br />
  Date de naissance : <br />
  {{ ticket.ticketowner.birthdate|date('d/m/Y') }}<br />
  Age : <br />
  {{ ticket.ticketowner.getAge() }} ans<br />
  Pays : <br />
  {{ ticket.ticketowner.country | country }}
{% endfor %}<br />
  <a href="{{ path('p4_museum_checkout') }}" class="btn btn-default">
  <i class="glyphicon glyphicon-chevron-right"></i>
    Aller au paiement
  </a>
{% endblock %}