{% extends "P4MuseumBundle::layout.html.twig" %}

{% block title %}
  Acheter un billet - {{ parent() }}
{% endblock %}
{% block subtitle %}
  <h1>{{ 'recap.subtitle'|trans }}</h1>
{% endblock %}

{% block p4museum_body %}
  <div class="well">
  
  <h3>{{ 'Vos coordonnées'|trans }}</h3><br />
  <table class="table table-bordered table-responsive">
    <tbody>
        <tr>
          <th>{{ 'Nom'|trans }}</th>
            <td>{{ orders.customer.name }}</td>
        </tr>
        <tr>
          <th>{{ 'Prénom'|trans }}</th>
            <td>{{ orders.customer.firstname }}</td>
        </tr>
        <tr>
          <th>{{ 'E-mail'|trans }}</th>
            <td>{{ orders.customer.mail }}</td>
        </tr>
        <tr>
          <th>{{ 'Numéro de rue'|trans }}</th>
            <td>{{ orders.customer.adress.streetnumber }}</td>
        </tr>      
        <tr>
          <th>{{ 'Nom de rue'|trans }}</th>
            <td>{{ orders.customer.adress.streetname }}</td>
        </tr>
        <tr>
          <th>{{ 'Code postal'|trans }}</th>
            <td>{{ orders.customer.adress.zipcode }}</td>
        </tr>        
        <tr>
          <th>{{ 'Ville'|trans }}</th>
            <td>{{ orders.customer.adress.city }}</td>
        </tr>        
        <tr>
          <th>{{ 'Pays'|trans }}</th>
            <td>{{ orders.customer.adress.country | country }}</td>
        </tr>  
    </tbody>
</table><br />
<hr>
  <h3>{{ 'Informations sur les visiteurs'|trans }}</h3><br />

<div class="table-responsive">
<table class="table table-bordered">
  <thead>
    <tr>
      <th>{{ 'Billet'|trans }} n°</th>
      <th>{{ 'Nom'|trans }}</th>
      <th>{{ 'Prénom'|trans }}</th>
      <th>{{ 'Date de naissance'|trans }}</th>
      <th>{{ 'Pays'|trans }}</th>
      <th>{{ 'Type de billet'|trans }}</th>
      <th>{{ 'Tarif réduit'|trans }}</th>
      <th>{{ 'Prix'|trans }}</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
{% for ticket in listtickets %}
  <tr>
   <td data-label="Billet n°">{{ loop.index }}</td>
   <td data-label="Nom">{{ ticket.ticketowner.name }}</td>
   <td data-label="Prénom">{{ ticket.ticketowner.firstname }}</td>
   <td data-label="Date de naissance">{{ ticket.ticketowner.birthdate|date('d/m/Y') }}</td>
   <td data-label="Pays">{{ ticket.ticketowner.country | country }}</td>
    {% if ticket.type == 'Demi-journée' %}
          <td data-label="Type de billet">{{ 'ticket.type.halfday'|trans }}<br /></td>
    {% else %}
          <td data-label="Type de billet">{{ 'ticket.type.fullday'|trans }}<br /></td>
    {% endif %}
   {% if ticket.reduction == 1 %}
      <td data-label="Tarif réduit">{{ 'Oui'|trans }}</td>
    {% else %}
      <td data-label="Tarif réduit">{{ 'Non'|trans }}</td>
   {% endif %}
   <td data-label="Prix">{{ ticket.ticketprice }}€</td>
   <td>  <a href="{{ path('p4_museum_delete') }}" class="btn btn-default btn-xs" title="Supprimer le billet"><i class="glyphicon glyphicon-remove"></i></a></td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">
    <h4>Total</h4>
  </div>
  <div class="panel-body">
    <h2>{{ orders.totalprice }}€</h2>
  </div>
</div>
<br />
<hr>
<br /><br />
  <a href="{{ path('p4_museum_buy') }}" class="btn btn-default">
  <i class="glyphicon glyphicon-chevron-left"></i>
    {{ 'Annuler'|trans }}
  </a>
    {% if orders.totalprice == 0 %}
        <a href="{{ path('p4_museum_confirm') }}" class="btn btn-default">
        <i class="glyphicon glyphicon-euro"></i>
        {{ 'Confirmer'|trans }}
      </a>
    {% else %} 
    <a href="{{ path('p4_museum_checkout') }}" class="btn btn-default">
    <i class="glyphicon glyphicon-euro"></i>
      {{ 'Payer'|trans }}
    </a>
  {% endif %}
  <div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">
    2/4
  </div>
</div>
</div>
{% endblock %}
