{% extends "P4MuseumBundle::layout.html.twig" %}

{% block title %}
  Acheter un billet - {{ parent() }}
{% endblock %}

{% block p4museum_body %}
  
  Nombre de billets : {{ orders.numberoftickets }}<br />

  Vos coordonnées
  {{ orders.customer.firstname }}<br />
  {{ orders.customer.name }}<br />
  {{ orders.customer.mail }}<br />
  {{ orders.customer.adress.streetnumber }}<br />
  {{ orders.customer.adress.streetname }}<br />
  {{ orders.customer.adress.city }}<br />
  {{ orders.customer.adress.zipcode }}<br />
  {{ orders.customer.adress.country }}<br />

  Informations sur les billets<br /><br />
  {{ orders.ticket.price }}<br />
  {{ orders.ticket.validitydate|date('d/m/Y') }}<br />
  {{ orders.ticket.type }}<br />
  {% if orders.ticket.reduction == 1 %}<br />
  	Réduction accordée
  {% endif %}

  Informations sur le visiteur
  {{ orders.ticket.ticketowner.firstname }}<br />
  {{ orders.ticket.ticketowner.name }}<br />
  {{ orders.ticket.ticketowner.country }}<br />
  {{ orders.ticket.ticketowner.birthdate|date('d/m/Y') }}<br />
  {{ ('now'|date('Y') - orders.ticket.ticketowner.birthdate|date('Y') - 1) + ('now'|date('2010-m-d')|date('U') - orders.ticket.ticketowner.birthdate|date('2010-m-d')|date('U') >= 0 ? 1 : 0) }} ans<br /><br />

  <a href="{{ path('p4_museum_checkout') }}" class="btn btn-default">
  <i class="glyphicon glyphicon-chevron-right"></i>
    Aller au paiement
  </a>
{% endblock %}