{% extends "P4MuseumBundle::layout.html.twig" %}

{% block title %}
  Acheter un billet - {{ parent() }}
{% endblock %}
{% block subtitle %}
  <h1>Récapitulatif de votre commande</h1>
{% endblock %}

{% block p4museum_body %}
  <div class="well">
  
  Vos coordonnées
  {{ orders.customer.firstname }}<br />
  {{ orders.customer.name }}<br />
  {{ orders.customer.mail }}<br />
  {{ orders.customer.adress.streetnumber }}<br />
  {{ orders.customer.adress.streetname }}<br />
  {{ orders.customer.adress.city }}<br />
  {{ orders.customer.adress.zipcode }}<br />
  {{ orders.customer.adress.country | country }}<br /><br />
  <h2>Informations sur les visiteurs</h2>

<div class="table-responsive">
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Billet n°</th>
      <th>Nom</th>
      <th>Prénom</th>
      <th>Date de naissance</th>
      <th>Pays</th>
      <th>Type de billet</th>
      <th>Tarif réduit</th>
      <th>Prix</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
{% for ticket in listtickets %}
  <tr>
   <td data-label="Billet n°">{{ loop.index }}</td>
   <td data-label="Nom">{{ ticket.ticketowner.name }}</td>
   <td data-label="Prénom">{{ ticket.ticketowner.firstname }}</td>
   <td data-label="Date de naissance">{{ ticket.ticketowner.birthdate|date('d/m/Y') }}</td>
   <td data-label="Pays">{{ ticket.ticketowner.country | country }}</td>
   <td data-label="Type de billet">{{ ticket.type }}<br /></td>
   {% if ticket.reduction == 1 %}
      <td data-label="Tarif réduit">Oui</td>
    {% else %}
      <td data-label="Tarif réduit">Non</td>
   {% endif %}
   <td data-label="Prix">{{ ticket.ticketprice }}€</td>
   <td>  <a href="{{ path('p4_museum_delete') }}" class="btn btn-default btn-xs" title="Supprimer le billet"><i class="glyphicon glyphicon-remove"></i></a></td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
<strong>{{ orders.totalprice }}</strong><br /><br />
  <a href="{{ path('p4_museum_buy') }}" class="btn btn-default">
  <i class="glyphicon glyphicon-chevron-left"></i>
    Annuler
  </a>
  <a href="{{ path('p4_museum_checkout') }}" class="btn btn-default">
  <i class="glyphicon glyphicon-euro"></i>
    Payer
  </a>
</div>
{% endblock %}
